<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="rewriter" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter" requirePermission="false"/>
    </configSections> 
  <appSettings>
    <add key="ShowEligibleOfficials" value="0"/>
    <add key="CurrentYear" value="17"/>
    <add key="DefaultRankingGender" value="Girls"/>
    <add key="DefaultRankingSport" value="Basketball"/>
    <add key="TodaysDate" value="Today"/>
    <add key="TeamPix" value="~/images/teampix/"/>
    <add key="DistrictStandingsDateFP" value="9/30/2013"/>
    <add key="showBasketballEWRankings" value="1"/>
    <add key="showWrestlingAccumulativeRankings" value="0"/>
    <add key="showRatingOfOfficialsFootball" value="1"/>
    <add key="showRatingOfOfficialsBasketball" value="1"/>
    <add key="showSwimmingMeetsList" value="1"/>
    <add key="showBBPrefsLink" value="0"/>
    <add key="OSSAAWEBSITESETTINGS" value="1"/>
    <add key="ActivateRulesVerification" value="1"/>
    <add key="UploadSavePathSwimming" value="..\docs\2014-15\swimming"/>
    <add key="UploadSavePathGolf" value="..\docs\2014-15\golf"/>
    <add key="UploadSavePathTrack" value="..\docs\2014-15\track"/>
    <add key="TimerSeconds" value="120000"/>
    <add key="TimerSecondsBaseball" value="1200000"/>
    <add key="TimerSecondsWrestlingDual" value="30000"/>
    <add key="TimerSecondsFastpitch" value="1200000"/>
    <add key="TimerSecondsVolleyball" value="1200000"/>
    <add key="TimerSecondsBasketball" value="300000"/>
    <add key="TimerSecondsBasketballGame" value="300000"/>
    <add key="TimerSecondsSlowPitch" value="600000"/>
    <add key="intYear" value="17"/>
    <!--= NEWYEAR -->
    <add key="SportKey" value="Basketball2AB"/>
    <add key="OfficialLogin" value="OSSAA2017"/>
    <add key="OfficialAvailabilityActiveBK" value="0"/>
    <add key="OfficialAvailabilityActiveWR" value="0"/>
    <add key="OfficialAvailabilityActiveFP" value="0"/>
    <add key="CoachesLogin" value="OSSAA2017"/>
    <add key="TimerSeconds2" value="2000000"/>
    <add key="PrefClassBasketball" value="6A5A"/>
    <!--= NEWWEEK (AB, 4A2A, 6A5A, OFF) -->
    <add key="RedirectToPrefListAB" value="0"/>
    <add key="RedirectToPrefList4A2A" value="0"/>
    <add key="RedirectToPrefList6A5A" value="0"/>
    <add key="PrefListStartDateAB" value="MONDAY, JANUARY 25th"/>
    <add key="PrefListDueDateAB" value="WEDNESDAY, JANUARY 27th"/>
    <add key="PrefListStartDate4A2A" value="MONDAY, FEBRUARY 8th"/>
    <add key="PrefListDueDate4A2A" value="TUESDAY, FEBRUARY 9th"/>
    <add key="PrefListStartDate6A5A" value="MONDAY, FEBRUARY 15th"/>
    <add key="PrefListDueDate6A5A" value="WEDNESDAY, FEBRUARY 17th"/>
    <add key="BasketballOfficialsAvailabilityDateStartShowFirst" value="January 16, 2015 @ 8am to January 23, 2015 @ 4pm"/>
    <add key="BasketballOfficialsAvailabilityDateStartShow" value="February 2, 2016 @ 8am to February 7, 2016 @ 11:59pm"/>
    <add key="BasketballOfficialsAvailabilityDateStart" value="2/11/2016 08:00:00 AM"/>
    <add key="BasketballOfficialsAvailabilityDateEnd" value="2/17/2016 11:59:00 PM"/>
    <add key="BasketballPrefsDateStartAB" value="1/25/2016 08:00:00 AM"/>
    <add key="BasketballPrefsDateEndAB" value="1/27/2016 10:00:00 AM"/>
    <add key="BasketballPrefsDateStart4A2A" value="2/8/2016 08:00:00 AM"/>
    <add key="BasketballPrefsDateEnd4A2A" value="2/10/2016 8:00:00 PM"/>
    <add key="BasketballPrefsDateStart6A5A" value="2/15/2016 08:00:00 AM"/>
    <add key="BasketballPrefsDateEnd6A5A" value="2/17/2016 12:00:00 PM"/>
    <add key="WROfficialsAvailabilityDateStartShow" value="January 12, 2016 @ 8am to January 16, 2016 @ MIDNIGHT"/>
    <add key="WROfficialsAvailabilityDateStart" value="1/3/2015 08:00:00 AM"/>
    <add key="WROfficialsAvailabilityDateEnd" value="1/16/2015 11:59:00 PM"/>
    <add key="VBOfficialsAvailabilityDateStartShow" value="August 20, 2016 @ 8am to October 1, 2016 @ MIDNIGHT"/>
    <add key="VBOfficialsAvailabilityDateStart" value="8/20/2015 08:00:00 AM"/>
    <add key="VBOfficialsAvailabilityDateEnd" value="10/1/2015 11:59:00 PM"/>
    <add key="Year1" value="2015"/>
    <add key="Year2" value="2015-2016"/>
    <add key="Year3" value="2016"/>
    <add key="documentsURLNEW" value="http://www.ossaa.net"/>
    <add key="documentsSavePathNEW" value="D:\Inetpub\vhosts\ossaa.net\httpdocs\docs\2016-17\"/>
    <add key="documentsLinkPathNEW" value="docs\2016-17"/>
    <add key="documentsSavePathTEST" value="C:\XFer\"/>
    <add key="documentsURL" value="http://www.ossaarankings.com"/> 
    <add key="documentsSavePathOLD" value="docs\2016-17"/>
    <add key="documentsSavePath" value="C:\HostingSpaces\tseiwatg\ossaarankings.com\wwwroot\docs\2016-17\"/>
    <add key="documentsLinkPath" value="\docs\2016-17\"/>
    <add key="OSSAAMEMBERSSETTINGS" value="1"/>
    <add key="ParticipationEntry" value="1"/>
  </appSettings>

    <connectionStrings>
        <add name="OSSAARANKINGSConnectionStringLOCAL" connectionString="Data Source=143.95.75.162;Initial Catalog=OSSAARankings;User ID=sa;Password=iluvln143;Integrated Security=False;Pooling=True;Max Pool Size=300;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
        <add name="OSSAARANKINGSConnectionString" connectionString="Data Source=143.95.75.162;Initial Catalog=OSSAARankings;User ID=sa;Password=iluvln143;Integrated Security=False;Pooling=True;Max Pool Size=300;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
        <add name="OSSAAConnectionString" connectionString="Data Source=143.95.75.162;Initial Catalog=OSSAA;User ID=sa;Password=iluvln143;Integrated Security=False;Pooling=True;Max Pool Size=300;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
        <add name="OSSAARANKINGSConnectionString1" connectionString="Data Source=CWILFONG-PC\SQLEXPRESS;Initial Catalog=OSSAARankings;Persist Security Info=True;User ID=sa;Password=ossaarocks;Max Pool Size=500;Connect Timeout=30" providerName="System.Data.SqlClient"/>
        <add name="OSSAAScoreboardString" connectionString="Data Source=143.95.75.162;Database=OSSAAScoreboard;Trusted_Connection=no;User Id=sa;Password=iluvln143;Pooling=True;Connection Timeout=30;Max Pool Size=100;" providerName="System.Data.SqlClient"/>
        <add name="OSSAAOnlineConnectionString" connectionString="Data Source=143.95.75.162;Initial Catalog=OSSAAOnline;User ID=sa;Password=iluvln143;Integrated Security=False;Pooling=True;Connection Timeout=30;Max Pool Size=100;" providerName="System.Data.SqlClient"/>
        <add name="OSSAAConnectionStringSpeech" connectionString="Data Source=143.95.75.162;Initial Catalog=OSSAASpeech;User ID=sa;Password=iluvln143;Integrated Security=False;Pooling=True;Connection Timeout=30;Max Pool Size=100;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="Infragistics4.WebUI.WebDateChooser.v10.2, Version=10.2.20102.1011, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics4.WebUI.Shared.v10.2, Version=10.2.20102.1011, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics4.Web.v10.2, Version=10.2.20102.1011, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics4.WebUI.UltraWebTab.v10.2, Version=10.2.20102.1011, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
      </assemblies>
        
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <customErrors mode="Off"/>
      <httpHandlers>
          <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
          <add verb="GET" path="Resource.ashx" type="YAF.YafResourceHandler, YAF" />
      </httpHandlers>
      <httpModules>
          <add name="YafTaskModule" type="YAF.Core.YafTaskModule, YAF.Core"/>
      </httpModules>
      <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" enableEventValidation="false" validateRequest="false">
          <controls>
              <!-- Default: use non-dynamic (compiled classes) in YAF -->
              <add tagPrefix="YAF" namespace="YAF.Controls" assembly="YAF.Controls"/>
              <add tagPrefix="YAF" namespace="YAF.Controls.Statistics" assembly="YAF.Controls"/>
              <add tagPrefix="YAF" namespace="YAF.Classes"/>
              <add tagPrefix="YAF" namespace="YAF"/>
          </controls>
          <namespaces>
              <add namespace="YAF.Core"/>
              <add namespace="YAF.Controls"/>
              <add namespace="YAF.Utils"/>
              <add namespace="YAF.Types.Interfaces"/>
              <add namespace="YAF.Types"/>
          </namespaces>
      </pages>      
  </system.web>
  <system.webServer>
      <modules runAllManagedModulesForAllRequests="true">
      </modules>
    <httpProtocol>
      <customHeaders>
        <remove name="X-UA-Compatible"/>
        <add name="X-UA-Compatible" value="IE=10"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <location path="Telerik.Web.UI.WebResource.axd">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>