<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="rewriter" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter" requirePermission="false" />
  </configSections>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Telerik.Web.UI" culture="neutral" publicKeyToken="121fae78165ba3d4" />
                <bindingRedirect oldVersion="0.0.0.0-2016.2.607.40" newVersion="2016.2.607.40" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
  <appSettings>
    
    <add key="OfficialsRecommendationFormsVB_Start" value="2019-09-20 08:00:00" />
    <add key="OfficialsRecommendationFormsVB_End4A3A" value="2019-09-27 23:59:59" />
    <add key="OfficialsRecommendationFormsVB_End6A5A" value="2019-10-04 23:59:59" />
    <add key="OfficialsRecommendationFormsVB_Title" value="2019 State Tournament Officials Recommendation Form (click here)" />
    <add key="OfficialsRecommendationFormsVB" value="http://www.ossaa.net/docs/2019-20/2019VB_Coaches_Recommendation_Form.pdf" />

    <add key="OfficialsRecommendationFormsFP_Start" value="2019-09-17 08:00:00" />
    <add key="OfficialsRecommendationFormsFP_End" value="2019-09-20 23:59:59" />
    <add key="OfficialsRecommendationFormsFP_Title" value="2019 State Tournament Officials Recommendation Form (click here)" />
    <add key="OfficialsRecommendationFormsFP_OffAvailTitle" value="2019 State Tournament Officials Available for Playoffs (click here)" />
    <add key="OfficialsRecommendationFormsFP" value="http://www.ossaa.net/docs/2019-20/FP2019_Coaches_Recommendation_Form.pdf" />
    <add key="OfficialsRecommendationFormsFP_OffAvail" value="http://www.ossaa.net/docs/2019-20/rptOfficialsFastPitchAvailabilityReportPUBLIC.pdf" />
    <add key="EntryFormsActive" value="1"/>
    <add key="ShowEligibleOfficials" value="1" />
    <add key="CurrentYear" value="20" />
    <add key="GetOfficialsPassingScore" value="74" />
    <add key="CurrentYearFull" value="2020" />
    <add key="CurrentYearFall" value="2019" />
    <add key="DefaultRankingGender" value="Girls" />
    <add key="DefaultRankingSport" value="Basketball" />
    <add key="TodaysDate" value="Today" />
    <add key="TeamPix" value="~/images/teampix/" />
    <add key="DistrictStandingsDateFP" value="9/30/2013" />
    <add key="ShowPlayoffOfficialsList" value ="1"/>
    <add key="showWrestlingAccumulativeRankings" value="1" />
    <add key="showRatingOfOfficialsFootball" value="1" />
    <add key="showRatingOfOfficialsBasketball" value="1" />
    <add key="showSwimmingMeetsList" value="1" />
    <add key="OSSAAWEBSITESETTINGS" value="1" />
    <add key="ActivateRulesVerification" value="1" />
    <add key="UploadSavePathSwimming" value="..\docs\2019-20\swimming" />
    <add key="UploadSavePathGolf" value="..\docs\2019-20\golf" />
    <add key="UploadSavePathTrack" value="..\docs\2019-20\track" />
    <add key="TimerSeconds" value="120000" />
    <add key="TimerSecondsBaseball" value="1200000" />
    <add key="TimerSecondsWrestlingDual" value="30000" />
    <add key="TimerSecondsFastpitch" value="1200000" />
    <add key="TimerSecondsVolleyball" value="1200000" />
    <add key="TimerSecondsBasketball" value="300000" />
    <add key="TimerSecondsBasketballGame" value="300000" />
    <add key="TimerSecondsSlowPitch" value="600000" />
    <add key="intYear" value="20" />
      
    <!--= NEWYEAR -->
    <add key="SportKey" value="Basketball2AB" />
    <add key="OfficialLogin" value="OSSAA2020" />
    <add key="OfficialAvailabilityActiveBK" value="1" />
    <add key="OfficialAvailabilityActiveBKPeriod1" value="1" />
    <add key="OfficialAvailabilityActiveBKPeriod2" value="1" />
    <add key="OfficialAvailabilityActiveWR" value="0" />
    <add key="OfficialAvailabilityActiveFP" value="0" />
    <add key="CoachesLogin" value="OSSAA2020" />
    <add key="TimerSeconds2" value="2000000" />
    
    <!--= WRESTLING -->
      <add key="PrefListDueDateWR" value="THURSDAY, JANUARY 23rd" />
      <add key="WrestlingPrefsDateStart" value="1/16/2020 7:59:59 AM" />
      <add key="WrestlingPrefsDateEnd" value="1/27/2020 12:01:00 PM" />
      <add key="PrefListStartDateWR" value="THURSDAY, JANUARY 16th" />
      <add key="showWRPrefsLink" value="1" />

      <!--= SOCCER -->
      <add key="PrefListDueDateSC" value="FRIDAY, JANUARY 27th" />
      <add key="SoccerPrefsDateStart" value="4/15/2019 07:00:00 AM" />
      <add key="SoccerPrefsDateEnd" value="4/19/2019 16:00:00 PM" />
      <add key="PrefListStartDateSC" value="MONDAY, APRIL 16th" />
      <add key="showSCPrefsLink" value="1" />
     
     
      <!--= NEWWEEK (AB, 4A2A, 6A5A, OFF) -->
    <add key="BasketballOfficialsLockWeek1" value="0" />
    <add key="BasketballOfficialsLockWeek2" value="0" />
    <add key="BasketballOfficialsLockWeek3" value="0" />
    <add key="BasketballOfficialsLockWeek4" value="0" />
    <add key="BasketballOfficialsLockWeek5" value="0" />
    <add key="RedirectToPrefListAB" value="1" />
    <add key="RedirectToPrefList4A2A" value="1" />
    <add key="RedirectToPrefList6A5A" value="1" />
      
    <!-- BASKETBALL PREFERENTIAL ENTRY/LIST -->
    <add key="showBBPrefsLink" value="1" />
    <add key="showBBPrefsInstructionsLink" value="1" />
    <add key="PrefClassBasketball" value="6A5A" />
    <add key="showBasketballEWRankings" value="1" />
    
        <!-- "AB", "4A2A", "6A5A" -->
    <add key="PrefListStartDateAB" value="FRIDAY JANUARY 24th" />
    <add key="PrefListDueDateAB" value="WEDNESDAY, JANUARY 29th" />
    <add key="PrefListStartDate4A2A" value="FRIDAY, FEBRUARY 7th" />
    <add key="PrefListDueDate4A2A" value="TUESDAY, FEBRUARY 11th" />
    <add key="PrefListStartDate6A5A" value="FRIDAY, FEBRUARY 14th" />
    <add key="PrefListDueDate6A5A" value="TUESDAY, FEBRUARY 18th" />
    <add key="BasketballPrefsDateStartAB" value="1/24/2020 4:00:00 PM" />
    <add key="BasketballPrefsDateEndAB" value="1/29/2020 11:59:59 AM" />
    <add key="BasketballPrefsDateStart4A2A" value="2/7/2020 4:01:00 PM" />
    <add key="BasketballPrefsDateEnd4A2A" value="2/11/2020 11:59:59 AM" />
    <add key="BasketballPrefsDateStart6A5A" value="2/14/2020 08:01:00 AM" />
    <add key="BasketballPrefsDateEnd6A5A" value="2/18/2020 11:59:59 AM" />
      
    <add key="VBOfficialsAvailabilityDateStartShow" value="August 20, 2016 @ 8am to October 1, 2016 @ MIDNIGHT" />
    <add key="VBOfficialsAvailabilityDateStart" value="8/20/2015 08:00:00 AM" />
    <add key="VBOfficialsAvailabilityDateEnd" value="10/1/2015 11:59:00 PM" />
    <add key="Year1" value="2019" />
    <add key="Year2" value="2019-2020" />
    <add key="Year3" value="2020" />
    <add key="documentsURL" value="http://www.ossaa.net/" />
    <add key="documentsSavePath1" value="D:\Inetpub\vhosts\ossaa.net\httpdocs\docs\2019-20\" />
    <add key="documentsSavePath1" value="D:\Inetpub\vhosts\ossaa.net\httpdocs\docs\2019-20\" />
    <add key="documentsLinkPath" value="docs\2019-20\" />
    <add key="OSSAAMEMBERSSETTINGS" value="1" />
    <add key="ParticipationEntry" value="1" />
    <add key="BKScoreboardB" value="1" />
    <add key="BKScoreboardA" value="1" />
    <add key="BKScoreboard2A" value="1" />
    <add key="BKScoreboard3A" value="1" />
    <add key="BKScoreboard4A" value="1" />
    <add key="BKScoreboard5A" value="1" />
    <add key="BKScoreboard6A" value="1" />
    <add key="FBScoreboard6AI" value="1" />
    <add key="FBScoreboard6AII" value="1" />
    <add key="FBScoreboard5A" value="1" />
    <add key="FBScoreboard4A" value="1" />
    <add key="FBScoreboard3A" value="1" />
    <add key="FBScoreboard2A" value="1" />
    <add key="FBScoreboardA" value="1" />
    <add key="FBScoreboardB" value="1" />
    <add key="FBScoreboardC" value="1" />
  <add key="Telerik.ScriptManager.TelerikCdn" value="Disabled" />
  <add key="Telerik.StyleSheetManager.TelerikCdn" value="Disabled" />
  </appSettings>
  <connectionStrings>
    <add name="OSSAARANKINGSConnectionString1" connectionString="Data Source=(local);Initial Catalog=OSSAARankings;User ID=sa;Password=Ossaarocks23!;Integrated Security=False;Pooling=True;Max Pool Size=300;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <add name="OSSAAConnectionString1" connectionString="Data Source=(local);Initial Catalog=OSSAA;User ID=sa;Password=Ossaarocks23!;Integrated Security=False;Pooling=True;Max Pool Size=300;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <add name="OSSAAServerConnectionString1" connectionString="Data Source=(local);Initial Catalog=OSSAAServer;User ID=sa;Password=Ossaarocks23!;Integrated Security=False;Pooling=True;Max Pool Size=300;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <add name="OSSAAScoreboardString1" connectionString="Data Source=(local);Database=OSSAAScoreboard;Trusted_Connection=no;User Id=sa;Password=Ossaarocks23!;Pooling=True;Connection Timeout=30;Max Pool Size=100;" providerName="System.Data.SqlClient" />
    <add name="OSSAAOnlineConnectionString1" connectionString="Data Source=(local);Initial Catalog=OSSAAOnline;User ID=sa;Password=Ossaarocks23!;Integrated Security=False;Pooling=True;Connection Timeout=30;Max Pool Size=100;" providerName="System.Data.SqlClient" />
    <add name="OSSAAConnectionStringSpeech1" connectionString="Data Source=(local);Initial Catalog=OSSAASpeech;User ID=sa;Password=Ossaarocks23!;Integrated Security=False;Pooling=True;Connection Timeout=30;Max Pool Size=100;" providerName="System.Data.SqlClient" />
    
    <add name="OSSAARANKINGSConnectionString" connectionString="Data Source=65.38.21.34;Initial Catalog=OSSAARankings;User ID=sa;Password=Ossaarocks23!;Integrated Security=False;Pooling=True;Max Pool Size=300;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <add name="OSSAARANKINGSConnectionStringArchives" connectionString="Data Source=65.38.21.34;Initial Catalog=OSSAARankings2019;User ID=sa;Password=Ossaarocks23!;Integrated Security=False;Pooling=True;Max Pool Size=300;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <add name="OSSAAConnectionString" connectionString="Data Source=65.38.21.34;Initial Catalog=OSSAA;User ID=sa;Password=Ossaarocks23!;Integrated Security=False;Pooling=True;Max Pool Size=300;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <add name="OSSAAConnectionString2019" connectionString="Data Source=65.38.21.34;Initial Catalog=OSSAA2019;User ID=sa;Password=Ossaarocks23!;Integrated Security=False;Pooling=True;Max Pool Size=300;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <add name="OSSAAServerConnectionString" connectionString="Data Source=65.38.21.34;Initial Catalog=OSSAAServer;User ID=sa;Password=Ossaarocks23!;Integrated Security=False;Pooling=True;Max Pool Size=300;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <add name="OSSAAScoreboardString" connectionString="Data Source=65.38.21.34;Database=OSSAAScoreboard;Trusted_Connection=no;User Id=sa;Password=Ossaarocks23!;Pooling=True;Connection Timeout=30;Max Pool Size=100;" providerName="System.Data.SqlClient" />
    <add name="OSSAAOnlineConnectionString" connectionString="Data Source=65.38.21.34;Initial Catalog=OSSAAOnline;User ID=sa;Password=Ossaarocks23!;Integrated Security=False;Pooling=True;Connection Timeout=30;Max Pool Size=100;" providerName="System.Data.SqlClient" />
    <add name="OSSAAConnectionStringSpeech" connectionString="Data Source=65.38.21.34;Initial Catalog=OSSAASpeech;User ID=sa;Password=Ossaarocks23!;Integrated Security=False;Pooling=True;Connection Timeout=30;Max Pool Size=100;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      
      <remove name="ChartImage_axd" />
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd" />
      <remove name="Telerik_Web_UI_DialogHandler_aspx" />
      <remove name="Telerik_RadUploadProgressHandler_ashx" />
      <remove name="Telerik_Web_UI_WebResource_axd" /><add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode" />
      <add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
  <system.web>
      <pages enableEventValidation="false">
    <controls>
      <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" /></controls></pages>  
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Infragistics4.WebUI.WebDateChooser.v10.2, Version=10.2.20102.1011, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB" />
        <add assembly="Infragistics4.WebUI.Shared.v10.2, Version=10.2.20102.1011, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB" />
        <add assembly="Infragistics4.Web.v10.2, Version=10.2.20102.1011, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <customErrors mode="Off" />
    <httpHandlers>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
    </httpHandlers>
  </system.web>
  <location path="Telerik.Web.UI.WebResource.axd">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="LOCDataSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.iwasatthegame.com/api/LOCData.asmx" binding="basicHttpBinding" bindingConfiguration="LOCDataSoap" contract="LOCData.LOCDataSoap" name="LOCDataSoap" />
    </client>
  </system.serviceModel>
</configuration>